h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 100px 0;
}

.bold-paragraph {
  color: #780edb;
}

#bold {
  background-color: #24f808;
  color: rgb(223, 8, 205);
}

img {
  width: 100%;
}
